@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply py-2 px-4 bg-blue-500 gap-2 justify-center hover:scale-105 text-slate-700 text-lg sm:text-2xl font-semibold rounded-lg shadow-md opacity-80 flex items-center hover:opacity-[100%] ;
    }
}


.skills:hover .skills-icon{
    display: flex;
}
body {
  height: 100vh;
  background-color: black;
}

body,
body>*,
body * {
    scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.noscroll-bar::-webkit-scrollbar{
  width: 0;
}


.project-item:hover .right {
    opacity: 1;
    font-weight: 700;
    font-size: 28px;
}

.project-item:hover .left {
    font-size: 40px;
    font-weight: 800;
}

.project-item .right {
    opacity: 0.8;
}

.project-item:hover {
    opacity: 1;
}

.project-item {
    opacity: 0.8;
    /* overflow: hidden; */
    position: relative;
}
.project-item-mobile {
    opacity: 1;
}

.project-item .ic {
    margin-left: -100%;
}

.project-item:hover .ic {
    margin-left: -30%;
}

* {
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}
