@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 gap-2 justify-center hover:scale-105 text-slate-700 text-lg sm:text-2xl font-semibold rounded-lg shadow-md opacity-80 flex items-center hover:opacity-[100%];
  }
  .btn1 {
    @apply text-dark dark:text-light hover:bg-dark hover:text-light dark:hover:bg-light dark:hover:text-dark 
  }
  .btn2 {
    @apply bg-dark dark:bg-light border border-current text-light dark:text-dark hover:bg-light/0 hover:text-dark dark:hover:bg-dark/0 dark:hover:text-light 
  }
}

@media only screen and (min-width: 600px) {}

.skills:hover .skills-icon {
  display: flex;
}

body {
  height: 100vh;
  background-color: black;
}

body,
body>*,
body * {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.noscroll-bar::-webkit-scrollbar {
  width: 0;
}

.project-item:hover .right {
  opacity: 1;
  font-weight: 700;
  font-size: 28px;
}

.project-item:hover .left {
  font-size: 34px;
  font-weight: 700;
}

.project-item .right {
  opacity: 0.8;
}

.project-item:hover {
  opacity: 1;
}

.project-item {
  opacity: 0.8;
  /* overflow: hidden; */
  position: relative;
}

.project-item-mobile {
  opacity: 1;
}

.project-item:hover .ic {
  width: 20vw;
}

.project-item:hover .ic2 {
  width: 20vw;
  transition-timing-function: ease-out
}

.project-item:hover .ic {
  right: 100% !important;
}

.project-item:hover .ic2 {
  right: 0% !important;
  padding: 0 !important;
}

* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}


.fade-out {
  animation: fade 3s forwards linear;
  animation-delay: 1s;
  overflow: hidden;
}

@keyframes fade {
  0% {
    opacity: 100%;
    height: auto
  }

  99% {
    opacity: 0%;
    height: auto
  }

  100% {
    opacity: 0%;
    height: 0;
  }
}